@model IEnumerable<TrabajoFinalWeb.Models.ModoDePago>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Administrador.cshtml";
}

<body class="subpage">
    <h2>Modos de Pago</h2>

    <p>
        @Html.ActionLink("Agregar Metodo de Pago", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Ver a detalle", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</body>